/*
*
* Estilos do container de resumo do pedido
*
*/
.info-container {
    margin-left: 10px;
    padding: 40px 10px 40px 10px !important;
    background-color: #fff;
    width: 20%;
    height: 210px;
}

.info-container > .info {
    background-color: #F7F7F7;
    width: 100%;
    padding: 7px;
    margin: 5px;
}

.info-container > .info.left {
    width: 75%;
}

.info-container > .info.right {
    width: 15%;
}


.info-container > .info.result {
    background-color: #C9C9C9;
}

/*
*
* Ajustes para displays até 1110px 
*
*/
@media (max-width: 1110px) {
    .info-container {
        display:none;
    }
}