/*
* Estilos da pagina de pagamento
*
*/
.flex-content {
    display: flex;
    justify-content: center;
}

.payment-container {
    display: flex;
    justify-content: center;
}

.card-container {
    background-color: #DE4B4B;
    padding: 53px !important;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
}

.card-container > a {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.step-info > a {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.step-info > a > strong {
    font-weight: bold;
}

.step-info > i {
    float: left;
}

.add-card {
    display: flex;
    justify-content: center;
}

.add-card > p {
    display: flex;
}

.add-card > p > span {
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
}

.form-container {
    padding: 50px !important;
    background-color: #fff;
    width: 50%;
}

.submit-button > button {
    float: right;
    border-radius: 10px;
    background-color: #DE4B4B;
}

.submit-button > button:hover {
    background-color: #DE4B4B;
    border-color: #DE4B4B;
}

.desktop-steps {
    color: #DE4B4B;
    display: flex;
    justify-content: space-around;
}

input:focus {
    border-color: #DE4B4B;
}

.desktop-steps > span {
    text-align: center;
    border-radius: 50%;
    border: 2px solid #DE4B4B;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
}

.desktop-steps > span.checked {
    background-color: #DE4B4B;
    color: #fff;
    padding: 0px;
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.credit-card {
    position: absolute;
}

/* Aplicando degrade e estilos do cartão */
.rccs__card--front {
    width: 364px;
    height: 223.78px;

    background: #8a8a8a !important;
    background: -moz-linear-gradient(top, #8a8a8a 0%, #909090 1%, #8f8f8f 2%, #8b8b8b 2%, #909090 4%, #8e8e8e 5%, #939393 9%, #9b9b9b 24%, #a1a1a1 29%, #a2a2a2 35%, #a7a7a7 35%, #a2a2a2 37%, #a6a6a6 37%, #a4a4a4 39%, #a9a9a9 39%, #a6a6a6 40%, #a6a6a6 42%, #a8a8a8 42%, #a7a7a7 44%, #ababab 49%, #a7a7a7 50%, #aaaaaa 54%, #aaaaaa 81%, #a6a6a6 94%, #a3a3a3 99%, #a0a0a0 99%, #a0a0a0 100%) !important;
    background: -webkit-linear-gradient(top, #8a8a8a 0%,#909090 1%,#8f8f8f 2%,#8b8b8b 2%,#909090 4%,#8e8e8e 5%,#939393 9%,#9b9b9b 24%,#a1a1a1 29%,#a2a2a2 35%,#a7a7a7 35%,#a2a2a2 37%,#a6a6a6 37%,#a4a4a4 39%,#a9a9a9 39%,#a6a6a6 40%,#a6a6a6 42%,#a8a8a8 42%,#a7a7a7 44%,#ababab 49%,#a7a7a7 50%,#aaaaaa 54%,#aaaaaa 81%,#a6a6a6 94%,#a3a3a3 99%,#a0a0a0 99%,#a0a0a0 100%) !important;
    background: linear-gradient(to bottom, #8a8a8a 0%,#909090 1%,#8f8f8f 2%,#8b8b8b 2%,#909090 4%,#8e8e8e 5%,#939393 9%,#9b9b9b 24%,#a1a1a1 29%,#a2a2a2 35%,#a7a7a7 35%,#a2a2a2 37%,#a6a6a6 37%,#a4a4a4 39%,#a9a9a9 39%,#a6a6a6 40%,#a6a6a6 42%,#a8a8a8 42%,#a7a7a7 44%,#ababab 49%,#a7a7a7 50%,#aaaaaa 54%,#aaaaaa 81%,#a6a6a6 94%,#a3a3a3 99%,#a0a0a0 99%,#a0a0a0 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#a0a0a0',GradientType=0 ) !important;
}

.rccs__card--back {
    width: 364px;
    height: 223.78px;
}

.add-card {
    margin-top: 25px;
}

/* Alterando estilos dos inputs */
.input-field input[type=text]:focus + label {
    color: #9e9e9e !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: 0 1px 0 0 #9e9e9e !important;
}

.select-wrapper ul li>span {
    color: #9e9e9e !important;
}

/*
*
* Ajustes para displays acima de 769px 
*
*/
@media (min-width: 769px) {
    .rccs {
        z-index: 3;
        position: absolute;
    }

    .payment-container {
        margin-top: 100px;
    }

    .step-info {
        display: none;
    }

    .credit-card {
        right: 85%;
    }

    .form-container > .row {
        padding-left: 10% !important;
    }

}

/*
*
* Ajustes para displays até 768px 
*
*/
@media (max-width: 768px) {
    .desktop-steps {
        display: none;
    }

    .submit-button > button {
        width: 100%; 
        display:block;
    }

    .card-container > a {
        display: none;
    }

    .card-container {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }

    .flex-content {
        flex-wrap: wrap;
    }

    .form-container > .row {
        margin-top: 124px;
    }

    .credit-card {
        width: 70%;
    }

}