
.nav {
    padding-top: 10px;
    padding-right: 8%;
    padding-left: 8%;
}
  
.nav-item {
    padding-top: 3%;
    margin: 10px;
    width: 100px;
    background-color: #9C9C9C; 
    padding: 10px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}